/* css styles */
body {
  background-color: #F8F8F8;
}

.navbar {
  background-color: #E07A5F;
}

.navbar a {
  color: #FFFFFF;
}

.navbar a:hover {
  color: #2E0E02;
}

.navbar a:active {
  color: #2E0E02;
}

.download-button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #333333;
  color: #333333;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #333333;
  color: #fff;
}
